RoutingPolicy filter
Ordering FIFO
LoggingLevel full
Site site0 Parent none
Site site1 Parent site0
Site site2 Parent site0
Process broker0 is broker On site0 URL tcp://localhost:3330/broker0
Process broker1 is broker On site0 URL tcp://localhost:3331/broker1
Process broker2 is broker On site0 URL tcp://localhost:3332/broker2
Process publisher00 is publisher On site0 URL tcp://localhost:3333/pub
Process publisher01 is publisher On site0 URL tcp://localhost:3334/pub
Process broker3 is broker On site1 URL tcp://localhost:3335/broker3
Process broker4 is broker On site1 URL tcp://localhost:3336/broker4
Process broker5 is broker On site1 URL tcp://localhost:3337/broker5
Process subscriber1 is subscriber On site1 URL tcp://localhost:3338/sub
Process broker6 is broker On site2 URL tcp://localhost:3339/broker6
Process broker7 is broker On site2 URL tcp://localhost:3340/broker7
Process broker8 is broker On site2 URL tcp://localhost:3341/broker8
Process subscriber2 is subscriber On site2 URL tcp://localhost:3342/sub